* {
  box-sizing: border-box;
  margin: 0;
  font-family: 'Open Sans', sans-serif;
  line-height: 1.5;}

  
.content-for-prddtl {
  overflow: hidden;
  padding: 45px 10%;
}
.main-title {
  font-size: 34px;
  color: #53382c;
  text-transform: uppercase;
  padding: 15px 0;
  display: block;
}
.details-img img {
  width: 100%;
}
.details-container {
  overflow: hidden;
}
.details-img {
  border: solid .1px #ccc;
}
.details-content {
  padding-left: 15px;
}
.details {
  top: 0;
}
.size-item {
  list-style: none;
  display: inline-block;
  width: 30px;
  height: 30px;
  border: solid .1px #ccc;
  position: relative;
  transition: all .3s linear;
}
.size-item a {
  text-decoration: none;
  color: #000;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  
}
.size-item:hover{
  border: solid .1px #bb2222;
  transition: all .3s linear;
  cursor: pointer;
}
.div-size {
  position: relative;
  padding: 30px 0;
}
.div-size span {
  display: inline-block;
  text-transform: capitalize;
}
.div-size ul {
  padding: 0;
  display: inline-block;
  position: absolute;
  height: 30px;
  top: 50%;
    left: 15%;
    transform: translate(0%, -50%);
}
hr {
  margin: 15px 0;
}
.list-related {
  overflow: hidden;
  padding: 0;
  margin: 0 -15px;
}
.price {
  text-transform: capitalize;
  display: block;
}
.lists ul {
  padding: 0;
  margin: 0;
  overflow: hidden;
}
.lists {
  margin: 30px 0;
}
.lists-item {
  list-style: none;
  text-align: center;
  display: inline-block;
  padding: 0 15px;
}
.lists-item .div-img {
  border: solid .1px #ccc;
}
.lists-item .div-img img {
  width: 100%;
}
.lists-item a {
  text-decoration: none;
  text-transform: uppercase;
  color: #53382c;
  transition: all .3s linear;
}
.lists-item a:hover {
  color: #f14a50;
  transition: all .3s linear;
}
.lists-item strong {
  color: #53382c;
}
.lists-content {
  padding: 15px 0 30px;
}
.details {
  padding: 0;
}

/* checkout overview */
.checkout-overview {
  overflow: hidden;
  display: inline-block;
  padding: 0;
}
.checkout-title {
  color: #fff;
  font-weight: bold;
  text-align: center;
  text-transform: uppercase;
}
.checkout-detail ul {
  padding: 0;
  margin: 0;
  background-color: #fff;
}
.checkout-li {
  border-bottom: .1px solid #bb2222;
  display: block;
  list-style: none;
  overflow: hidden;
  padding: 10px 0;
}
.checkout-li:last-child {
  border-bottom: none;
}
.div-checkout-title {
  border-bottom: solid .1px #bb2222;
  padding: 15px;
}
.checkout-detail {
  overflow: hidden;
  padding: 0 15px 15px;
}

.checkout-div-img {
  padding: 0;
}
.checkout-div-detail, .checkout-price {
  padding: 0;
}





.wrapper-inner-tab-backgrounds-second{
  display: block;
	float: left;
	min-width: 200px;
  background-color: #bb2222;
  margin: 20px 0;
}
.sim-button{
	line-height: 50px;
	height: 50px;
	text-align: center;
	cursor: pointer;
}
.sim-button span {
  text-transform: uppercase;
  font-weight: bold;
  -webkit-transition: all 0.3s;
	-moz-transition: all 0.3s;
	-o-transition: all 0.3s;
	transition: all 0.3s;
}
.sim-button {
	color: rgba(255,255,255,1);
	-webkit-transition: all 0.3s;
	-moz-transition: all 0.3s;
	-o-transition: all 0.3s;
	transition: all 0.3s;
	position: relative;
}
.sim-button::before{
	content: '';
	position: absolute;
	bottom: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: 1;
	opacity: 0;
	-webkit-transition: all 0.3s;
	-moz-transition: all 0.3s;
	-o-transition: all 0.3s;
	transition: all 0.3s;
	-webkit-transform: scale(0.1, 1);
  transform: scale(0.1, 1);
	
}
.sim-button:hover span{
	letter-spacing: 2px;
	}
.sim-button:hover::before{
	opacity: 1;	
	-webkit-transform: scale(1, 1);
	transform: scale(1, 1);
	
}
.sim-button::after{
	content: '';
	position: absolute;
	bottom: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: 1;
	-webkit-transition: all 0.3s;
	-moz-transition: all 0.3s;
	-o-transition: all 0.3s;
	transition: all 0.3s;
	background-color: rgba(255,255,255,0.25);
	
}
.sim-button:hover::after{
	opacity: 0;	
	-webkit-transform: scale(0.1, 1);
	transform: scale(0.1, 1);
}
.checkout-overview-container {
  margin: 0 15px;
  background-color: #bb2222;
}
.scrollbar {
  overflow-x: hidden;
  overflow-y: scroll;
  max-height: 400px;
}
#style-3::-webkit-scrollbar-track
{
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
	background-color: #F5F5F5;
}

#style-3::-webkit-scrollbar
{
	width: 6px;
	background-color: #F5F5F5;
}

#style-3::-webkit-scrollbar-thumb
{
	background-color: #bb2222;
}
.checkout-detail ul {
  padding: 0 15px;
}