body {
  box-sizing: border-box;
  margin: 0;
  font-family: 'Open Sans', sans-serif;
}
.main {
  padding: 45px 10%;
  background-color: #fbedd7;
}
.container {
  overflow: hidden;
  display: block;
}
.main-title {
  display: block;
  font-size: 40px;
  margin: 0;
  padding-bottom: 20px;
  padding-top: 0;
  color: #53382c;
  text-align: left;
  text-transform: uppercase;
  font-weight: 700;
}
.xemsanpham {
  background-color: transparent;
  color: #b22830;
  border: solid 1px #b22830;
  text-transform: uppercase;
  transition: all 0.3s linear;
  height: 40px;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  width: 250px;
  outline: none;
  text-decoration: none;
  background-color: transparent;
  text-transform: uppercase;
  padding: 8px 15px;
  transition: all 0.3s linear;
  height: 40px;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  width: 250px;
  outline: none;
  text-align: center;
}
.xemsanpham:hover {
  border: solid 1px #b22830;
  background-color: #b22830;
  color: #ffffff;
  transition: all 0.3s linear;
}
.main-tain a {
  outline: none;
}
.main-tain img {
  width: 100%;

}
.main-tain, .vertical-list {
  padding: 0;
}
.vertical-list {
  overflow: hidden;
}
.vertical-list ul {
  padding: 0;
  margin: 0;
}
.vertical-list li {
  display: block;
  list-style: none;
  overflow: hidden;
  padding: 15px;
}
.li-img {
  display: inline-block;
  width: 50%;
  float: left;
}
.li-img img {
  max-width: 150px;
  max-height: 150px;
}
.li-detail {
  display: inline-block;
  width: 50%;
  float: right;
}
.li-detail p {
  word-break: break-word;
}
.li-img img {
  width: 100%;
  height: 100%;
  transition: 1s;
  backface-visibility: hidden;
}
.li-img:hover img {
  transform: scale(1.1);
}
.li-detail a {
  text-decoration: none;
  color: #53382c;
  transition: all .3s linear;
}
.li-detail h3 {
  text-transform: uppercase;
  margin-top: 0;
}
.li-detail p {
  color: #000;
}
.li-detail a:hover {
  color: #b22830;
  transition: all .3s linear;
}

.slick-slide {
  margin: 45px 10%;
}


.owl-pagination {
  display: none;
}
.owl-prev {
  margin-right: 10px;
}
.owl-prev, .owl-next {
  width: 40px;
  height: 40px;
  color: #fff;
  display: inline-block;
  background-color: #e5e5e5;
  opacity: 1;
  cursor: pointer;
  color: #000;
  text-transform: uppercase;
  text-align: center;
  transition: all .3s linear;
}

.owl-prev:hover , .owl-next:hover {
  background-color: #b22830;
  color: #fff;
  transition: all .3s linear;
}
.owl-controls {
  position: absolute;
  margin-top: 0 !important;
  top: 0;
  height: 40px;
  right: 0;
}
/* #owl-demo .item {
  margin: 15px;
} */
#owl-demo {
  padding-top: 55px;
}
.owl-wrapper {
  transition: all .5s linear !important;
}
#owl-demo .item img {
  display: block;
  width: 100%;
  height: auto;
}

.owl-theme .owl-controls.clickable .owl-buttons div:hover{
  opacity: 1;
  text-decoration: none;
}

.owl-carousel .owl-wrapper-outer{
	overflow: hidden;
	width: 100%;
}
.owl-carousel .owl-wrapper:after {
	content: ".";
	display: block;
	clear: both;
	visibility: hidden;
	line-height: 0;
	height: 0;
}
/* display none until init */
.owl-carousel{
	display: none;
	position: relative;
	width: 100%;
}
.owl-carousel .owl-wrapper{
	display: none;
	position: relative;
}

.owl-carousel .owl-wrapper-outer.autoHeight{
	transition: height 500ms ease-in-out;
}
	
.owl-carousel .owl-item{
	float: left;
}
.owl-controls {
	user-select: none;
}

/* mouse grab icon */
.grabbing { 
    cursor:url(grabbing.png) 8 8, move;
}
.item img {
  max-width: 300px;
  text-align: center;
}
.div-owl-img {
  display: block;
  text-align: center;
}
.div-owl-img img {
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.tag {
  margin-left: 15px;
}
.div-owl-img {
  padding-top: 100%;
  position: relative;
  border: .2px solid #ccc;
}
.item h1 a {
  text-decoration: none;
  color: #53382c;
  text-transform: uppercase;
  transition: all .3s linear;
}
.item h1 a:hover {
  color: #b22830;
  transition: all .3s linear;
}
.div-owl-img img {
  width: 100%;
  height: 100%;
  transition: 1s;
  backface-visibility: hidden;
}
.div-owl-img:hover img {
  transform: translate(-50%, -50%) scale(1.1);
}
.div-owl-img:hover {
  cursor: pointer;
}